header{
    background-color: rgb(25, 35, 49);
    height: 60px;
    width:100%;
}
header ul li a{

    color: rgb(214, 235, 225);
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;



}
li{
    display: inline;
    padding: 50px;
    
}
*{
    margin: 0;
    padding-top: 0px;
}
footer{
    padding-top: 15px;
    background-color: slategrey;
    height: 5vh;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
ul{
    padding-top: 20px;
    padding-left: 250px;
}
#s{
    background-color: rgb(25, 35, 49);
}


